
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    background-image: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
}

.calendar {
    
    display: grid;
    grid-template-columns: repeat(7, 12.51vw);
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
    background-color: #fff;
    color: #99a1a7;
    font-size: 1.2rem;
    
    &__footer {
        background-color: #fff;
        height: 6rem;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__weekdays {
        text-transform: uppercase;
        align-self: center;
        justify-self: center;
    }
    
    &__days {
        text-align: end;
        padding: 1rem;
        border-top: .1px solid #c7c7c7;
        border-right: .1px solid #c7c7c7;
        
        
        
        &:nth-of-type(n+8):nth-of-type(-n+14) {
            grid-row: 2;
        }
        
        &:nth-of-type(n+15):nth-of-type(-n+21) {
            grid-row: 3;
        }
        
        &:nth-of-type(n+22):nth-of-type(-n+28) {
            grid-row: 4;
        }
        
        &:nth-of-type(n+29):nth-of-type(-n+35) {
            grid-row: 5;
        }

        &:nth-of-type(n+36):nth-of-type(-n+42) {
            grid-row: 6;
            border-bottom: .1px solid #c7c7c7;
        }

        &:nth-of-type( 7n+1) {
            grid-column: 1/1;
        }

        &:nth-of-type( 7n+2) {
            grid-column: 2/2;
        }

        &:nth-of-type( 7n+3) {
            grid-column: 3/3;
        }

        &:nth-of-type( 7n+4) {
            grid-column: 4/4;
        }

        &:nth-of-type( 7n+5) {
            grid-column: 5/5;
        }

        &:nth-of-type( 7n+6) {
            grid-column: 6/6;
        }

        &:nth-of-type( 7n+7) {
            grid-column: 7/7;
        }
        
        &--past {
            
            position: relative;
            z-index: 10;
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 4;
                background-image: url('img/streaks-grey-stripes-white-lines-3200x1800-c2-808080-ffffff-l2-192-192-a-135-f-1.png');
                background-size: cover;
                opacity: 0.1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            
            
        }
    }
    
    
    
    &__header {
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 1.2rem;
        text-align: center;
        border-bottom: 1px solid #c7c7c7;
        
        & h2 { font-size: 1.7rem;cursor: pointer;}
        
        & h3 { 
            font-size: 1.4rem;
            color: rgb(109, 109, 109);
        }
    }
    &__container {
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.27);;
        
    }
}

.mark {
    padding: 4px 5px;
    margin: 5px;
    border-radius: 2px;
    &--1 {
        grid-row: 3;
        grid-column: 2 / span 3;
        background: rgba(253, 197, 208, 0.7);
        align-self: end;
        color: orchid;
        border-left: 3px solid orchid;
    }
    
    &--2 {
        grid-row: 3;
        grid-column: 4 / span 3;
        background: rgba(#ffe4bb, .7);
        align-self: center;
        color: orange;
        border-left: 3px solid orange;
    }
}

